body{
    transition: all 0.5s;

}
button{
    width: 100%;
    border: none;
    background-color: #fff;
    margin: auto;
    text-align: center;
    transition: all 0.5s;
}
i{
    font-size: 40px;
    
    color: yellow;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.container div{
    width:45% ;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 10px;
    margin:10px auto;
    padding: 10px;
    box-shadow: 5px 5px  5px 5px rgb(165, 164, 164);
    transition: all 0.5s;

}
.dark{
    color: #fff;
    background-color: rgb(0, 0, 0);
    transition: all 0.5s;
    
}
.darkdiv{
    background-color: rgb(46, 46, 46);
    color: #fff;
    box-shadow:5px 5px 10px rgb(43, 43, 43) !important ;
    transition: all 0.5s;

}
.dark-i{
    color: #fff;
}
.dark-button{
    background-color: black;
    transition: all 0.5s;
}
@media(max-width:750px){
    .container div{
        width: 90%;
    }
    
}